.cart {
  &__step {
    border-radius: 4px;
    background-color: #ffeded;
    padding: 24px 14px;
    margin: 8px 0 8px 0;
  }
  &__info {
    &-heading {
      font-weight: 600;
      font-size: 18px;
      margin: 16px 0;
    }
    &-location {
      align-items: center;
      background-color: rgb(236, 236, 236);
      display: flex;
      justify-content: center;
      padding: 16px;
      border-radius: 4px;
      &__item {
        display: flex;
        justify-content: center;
      }
    }
  }
  &__container {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 15px;
    border-radius: 4px;
    max-width: 620px;
    margin: 0 auto;
    &-list {
      border-radius: 4px;
      padding: 24px;
    }
    &-item {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__description {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
        color: var(--title-color);
      }
      &__image {
        img {
          width: 88px;
          aspect-ratio: 4 / 3;
          height: 88px;
          border: 1px solid #ddd;
          object-fit: contain;
        }
      }
      &__price {
        text-align: right;
        &-after-discount {
          font-weight: 550;
          color: var(--title-color);
          text-decoration: line-through;
          font-size: 14px;
        }
        &-before-discount {
          font-size: 18px;
          font-weight: 600;
          color: var(--primary-color);
        }
      }
      &__remove {
        text-align: center;
        cursor: pointer;
        color: var(--title-color);
        font-size: 13px;
        font-weight: 600;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__quantity {
      margin-top: 10px !important;
      input {
        cursor: pointer;
        width: 50px !important;
        text-align: center !important;
      }
    }
    &-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 600;
      }
    }
    &-checkout {
      button {
        width: 100%;
        text-transform: uppercase;
        font-size: 18px;
        padding: 20px;
        font-weight: 600;
      }
    }
    &-empty {
      display: flex;
      justify-content: center;
      color: var(--title-color);
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      font-size: 18px;
      color: var(--title-color);
      font-weight: 600;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__item {
        margin: 8px 0;
      }
      a {
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
  &-payment {
    &__info {
      margin-top: 16px;
      &-row {
        td {
          padding: 8px 8px;
          font-size: 16px;
          color: var(--title-color);
          font-weight: 550;
        }
      }
      &-label {
        font-weight: 600;
        font-size: 16px;
        color: var(--title-color);
        padding-right: 8px;
      }
    }
  }
  &__prev { 
    display: inline-block;
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 16px !important;
    &:hover {
      opacity: 0.7;
    }
  }
}

.ant-input-number-group-addon {
  border-radius: 0 !important;
  cursor: pointer;
}

.ant-steps-item-title {
  line-height: 22px !important;
}

.step {
  &__title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 550;
  }
  &__icon {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--border-color);
    }
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

.ant-steps-item-finish,
.ant-steps-item-process {
  .step__icon {
    &-container {
      color: #fff;
      background-color: var(--primary-color);
    }
  }
}
